@media screen and (min-width: 479px){
    .nav-container .right {
        display: flex;
        align-items: center;
        gap: 25px;
    }
    .nav-container .right a{
        display: block;
    }
    .button-container{
        display: flex;
        flex-direction: row;
        gap: 16px;
        justify-content: center;
    }
    .button-container a{
        width: auto;
        font-size: 16px;
        text-decoration: none;
        padding: 20px;
        text-align: center;
        border-radius: 16px;
        font-weight: bold;
        transition: 0.3s;
    }
    .about{
        padding: 60px 20px 133px 20px;
        max-width: 550px;
        column-gap: 28px;
        margin: auto;
    }
    .about h1{
        font-size: 40px;
        margin: 0 0 10px 0;
    }
    .about > img{
        max-width: 250px;
       width: calc(50% - 14px);
    }
    .bk_black .mon-histoire {
        padding: 170px 20px;
    }
    .mon-histoire{
        max-width: 500px;
        padding: 0 20px 170px 20px;
        margin: 0 auto 138px auto;
    }
    .mon-histoire h2{
        font-size: 32px;
        margin: 0 0 45px 0;
    }
    .mon-histoire .button-container{
        justify-content: flex-start;
    }

    .cv{
        padding: 168px 20px;
    }
    .cv .cv-container{
        padding: 0 0 53px 0;
    }
    .cv h2{
        font-size: 32px;
        margin: 0 0 48px 0;
    }

    .cv .button-container a{
        margin: auto;
    }
}