@media screen and (min-width: 479px){
    .nav-container .right {
        display: flex;
        align-items: center;
        gap: 25px;
    }
    .nav-container .right a{
        display: block;
    }
    .balise-container{
        margin: 0 0 26px 0;
    }
    section.contact h1{
        font-size: 40px;
    }
    section.contact p{
        margin: 0 0 26px 0;
    }
    .contact-container{
        font-size: 18px;
    }
    .form-contact{
        padding: 45px 30px;
    }
}