@media screen and (min-width: 991px){
    .home{
        display: flex;
        flex-direction: row;
        gap: 60px;
        margin: 100px 20px 150px 20px;

    }
    .home div{
        margin: 0;
    }
    .home h1,
    .home p{
        text-align: left;
    }
    .home img{
        max-width: 500px;
    }
    .button-container{
        justify-content: flex-start;
    }
    .mesServices{
        padding: 200px 0px 240px 0px;
    }
    .mesServices > div > h2{
        font-size: 52px;
    }
    .mesServices > div > p{
        margin: auto 60px;
    }
    .mesServices .card-container > a,
    .mesServices .card-contact{
        width: 30%;
    }
    .mesServices .card-contact h2,
    .mesServices .card_description h2{
        font-size: 28px;
    }
    footer>div:first-child>div:first-child{
        width: auto;
    }
}
