@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800;900&display=swap');

*,
*::after,
*::before{
    box-sizing: border-box;
    transition: 0.4s;
}
html{
    scroll-behavior: smooth;
}
body{
    box-sizing:border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', 'sans-serif';
    background-color: #faf9f6;
    color: #393939;
}
.nav-container{
    z-index: 1;
    opacity: 0;
    animation:  apparitionnav 0.2s ease-in-out forwards;

    background-color: #fff;
    border: 2px solid #0b0b0b;
    border-radius: 18px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 14px;
	position: relative;
	box-shadow: 7px 7px #0b0b0b;
	margin: 24px;
	max-width: 730px;
}
@keyframes apparitionnav {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes apparition {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
.nav-container nav{
	display: none;
}

.nav-container .icon-home{
	height: 44px;
	width: 44px;
}
.nav-container .icon-home img{
	height: 100%;
	width: 100%;
	transition: 0.3s;
}
.nav-container .icon-home img:hover{
	transform: scale(0.95);
}
.nav-container .icon-contact{
	height: 44px;
}
.nav-container .icon-contact img{
	height: 100%;
	transition: 0.3s;
}
.nav-container .icon-contact img:hover{
	transform: translateY(-3px);
}

:root{
	--bar-width: 36px;
	--bar-height: 8px;
	--hamburger-gap: 6px;
	--foreground: #0b0b0b;
	--background: #fff;
	--hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.nav-container div.hamburger-menu{
	width: 36px;
	height: 36px;
}
.nav-container label.hamburger-menu{
	--x-width: calc(var(--hamburger-height) * 1.41421356237);
	display: flex;
	flex-direction: column;
	gap: var(--hamburger-gap);
	width: max-content;
	position: absolute;
	cursor: pointer;
}
.nav-container label.hamburger-menu input{
	appearance: none;
	margin: 0;
	padding: 0;
	outline: none;
	pointer-events: none;
}
.nav-container label.hamburger-menu::before,
.nav-container label.hamburger-menu::after,
.nav-container label.hamburger-menu input{
	content: "";
	width: var(--bar-width);
	height: var(--bar-height);
	background-color: var(--foreground);
	border-radius: 9999px;
	transition: opacity 0.3s ease-in-out, width 0.3s ease-in-out, rotate 0.3s ease-in-out, translate 0.3s ease-in-out;
	transform-origin: left center;
}
.nav-container label.hamburger-menu:has(input:checked)::before,
.nav-container label.hamburger-menu:has(input:checked)::after{
	width: var(--x-width);
}
.nav-container label.hamburger-menu:has(input:checked)::before{
	rotate: 45deg;
	translate: 0 calc(var(--bar-height) / -2);
}
.nav-container label.hamburger-menu:has(input:checked)::after{
	rotate: -45deg;
	translate: 0 calc(var(--bar-height) / 2);
}

.nav-container label.hamburger-menu + div.menu{
	display: none;
	position: relative
}
	
.nav-container label.hamburger-menu:has(input:checked) + div.menu{
	display: block;
}

.nav-container div.menu{
	background-color: #fff;
	border: 2px solid #0b0b0b;
	border-radius: 24px;
	flex-direction: column;
	align-items: flex-start;
	padding: 32px 24px;
	overflow: hidden;
	position: absolute !important;
	top: 110px;
	left: 0px;
	width: 100%;

	opacity: 0; /* La div est initialement invisible */
	transform: translateY(20px); /* Déplacez la div vers le bas (ou une autre direction) */
	animation: apparition 0.2s ease-in-out forwards; 
}

.nav-container div.menu ul{
	padding-inline-start: 0px;
	list-style: none;
	margin: 0;
}	
.nav-container div.menu li:not(:last-child){
	margin: 0px 0px 24px 0px;
}
.nav-conta
	.nav-container .right a{
		display: block;
	}er nav ul li a,
.nav-container div.menu li a{
	transition: 0.3s;
}
.nav-container nav ul li a:hover,
.nav-container div.menu li a:hover{
	color: #3cb371;
}
.nav-container div.menu a{
	color: #0b0b0b;
	text-decoration: none;
	font-weight: bold;
}

.nav-container .right a{
	display: block;
}
.nav-container .right > a{
	display: none;
}
label.hamburger-menu input:checked{
	opacity: 0;
	width: 0;
}
.button-container{
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.button-container a,
.button-container input{
	width: 100%;
	font-size: 16px;
	text-decoration: none;
	padding: 20px;
	text-align: center;
	border-radius: 16px;
	font-weight: bold;
	transition: 0.3s;
}
.button-container a:hover,
.button-container input:hover{
  transform: translateY(-3px);
}

.button-black{
	border: solid 2px #000 !important;
	background-color: #000;
	color: #fff !important;
}

.button-black:hover{
	border: solid 2px #3cb371 !important;
	background-color: #3cb371;
}
.button-white{
	border: solid 2px #000;
	background-color: #fff;
	color: #000 !important;
}
.button-white:hover{
	background-color: #000;
	color: #fff !important;
}

.button-white-blue{
	border: solid 2px #000;
	background-color: #fff;
	color: #000 !important;
}
.button-white-blue:hover{
	background-color: #3cb371;
	color: #fff !important;
}
.bullet-bk-black {
    width: 20px;
    height: 20px;
    min-height: 20px;
    min-width: 20px;
    border: 3px solid #fff;
    border-radius: 6px;
}
.bullet-green {
    background-color: #3cb371;
}
.bullet-brown {
    background-color: #deb887;
}

.about{
	padding: 50px 20px 111px 20px;
	display: flex;
	flex-wrap: wrap;
	gap: 60px 16px;
	justify-content: center;
}
.about>:nth-child(1) {
    order: 2;
}
.about>:nth-child(2) {
	order: 1;
   max-width: 100%;
}

.about>:nth-child(3) {
   order: 3;
}
.about h1{
	font-size: 34px;
	font-weight: bold;
	text-align: center;
}
.about p{
	margin: 0 0 40px 0;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}
.about > img{
   width: calc(50% - 8px);
}
.mon-histoire{
	margin: 0px 20px 138px 20px;
	display: flex;
	flex-direction: column;
	gap: 60px;  
    text-align: justify;
}
.mon-histoire h2{
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	margin: 0 0 40px 0;
}
.mon-histoire img{
	max-width: 100%;
    display: flex;
}
.mon-histoire p:first-child::first-letter{
	font-size: 51px;
	float: left;
	margin: 0 4px 0 0;
	line-height: 53px;
}
.mon-histoire p{
	margin: 0px;
	padding: 0 0 24px 0;
	font-weight: bold;
	font-size: 16px ;
	line-height: 1.667em;
}
.mon-histoire > div:nth-child(2) p:nth-child(2) {
	padding: 0 0 40px 0;
}
.bk_black .mon-histoire{
	padding: 140px 20px;
}

.bk_black .mon-histoire h1{
	margin: 0 0 16px 0;
}

.bk_black .mon-histoire img{
	max-width: 100%;
}
.mon-histoire .fake-liste{
	display: flex;
	flex-direction: column;
}
.mon-histoire .fake-liste > div{
	display: flex;
	flex-direction: row;
	gap: 16px;
}
.mon-histoire .fake-liste > div > .bullet-bk-black{
	margin: 4px 0px 0px 0px;
}

.bk_black{
	background-color: #0b0b0b;
	color: #fff;
}
.bk_black .mon-histoire h2{
	text-align: left;
}

span.brown,
span.green 
{
	padding: 0px 5px;
}
span.brown,
span.green {
	color: #fff;
}

span.brown{
	background-color: #deb887 ;
}
span.green{
	background-color: #3cb371 ;
}

.cv{
	display: flex;
	flex-direction: column;
	margin: auto;
	padding: 138px 20px;
	max-width: 500px;
}
.cv h2{
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	margin: 0 0 40px 0;
}
.cv .cv-container{
	display: flex;
	flex-direction: column;
	gap: 32px;
	padding: 0 0 44px 0;
}
.cv .cv-container > .card{
	background-color: #fff;
    border: 3px solid #0b0b0b;
    border-radius: 24px;
    overflow: hidden;
	font-weight: bold;
}
.cv .cv-container > .card.active{
	box-shadow: 7px 7px #0b0b0b;
}
.cv .cv-container > .card.active > div:last-child{
	background-color: #ffc431;
}
.cv .cv-container > .card > div{
	padding: 35px 24px;
}
.cv .cv-container > .card > div:last-child{
	font-weight: bold;
	border-top: 3px solid #0b0b0b;
	background-color: #faf9f6;
	font-size: 18px;
}
.cv .card h3{
	font-size: 20px;
	margin: 0 0 8px 0;
}
.cv .card p{
	font-size: 16px;
	margin: 0 0 16px 0;
    text-align: justify;
}
.cv a{
	text-decoration: none;
	font-weight: bold;
	color: #deb887;
}
.cv img{
	margin: 0px 5px 0px 0px;
}
.cv .social-media{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

footer{
	padding: 80px 20px 40px 20px;
	display: flex;
	flex-direction: column;
}
footer>div{
	padding: 0px 0px 70px 0px;
}
footer>div:first-child{
	display: flex;
	flex-direction: column;
	gap: 60px 25px;
}
footer>div:last-child{
	padding: 40px 0px 00px 0px;
	border-top: 1px solid #393939;
	text-align: center;

}
footer ul{
	list-style: none;
	padding-inline-start: 0px;
}
footer ul li{
	padding: 0 0 10px 0;
}
footer ul li ul{
	padding: 12px 0 0 30px;
}
footer ul li a:hover{
	color: #3cb371;
}
footer a{
	color: #eff0f6;
	text-decoration: none;
}
footer h2{
	margin: 0 0 40px 0;
}
.footer-contact{
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.footer-contact div{
	display: flex;
	align-items: center;
}
.footer-contact div:hover{
	color: #3cb371;
}
.footer-contact a{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.footer-contact a:hover{
	color: #3cb371;
}
.footer-contact >div div{
	width: 10px;
	height: 10px;
	background-color: #fff;
	padding: 20px;
	border-radius: 500px;
	display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 14px 0 0;

}
.copyright a{
	color: #3cb371;
}